footer{
    width: 100%;
    position:absolute;
    left: 0;
    background-color: #171717;
    display: flex;
    justify-content: center;
    p{
        span{
            color: #7C38EB;
        }
    }
}
